@media (max-width: 991px) {
  .testimonials-news .university-news {
    margin-top: 60px;
  }
}
.testimonials-news .news-item {
  margin-bottom: 40px;
}
.testimonials-news .news-item img {
  float: left;
  margin-right: 20px;
}
.testimonials-news .news-item ul {
  padding-top: 10px;
  margin: 0;
  list-style: none;
}
@media (max-width: 991px) {
  .testimonials-news .news-item ul {
    padding-top: 0px;
  }
}
.testimonials-news .news-item ul li {
  display: inline;
  padding: 0px 12px;
  border-right: 1px dashed #d5d5d5;
  border-left: 1px dashed #d5d5d5;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #a8a8a8;
}
.testimonials-news .news-item ul li:first-child {
  border-left: none;
  padding-left: 0px;
}
.testimonials-news .news-item ul li:last-child {
  border-right: none;
}
.testimonials-news .news-item h4 {
  font-size: 13px;
  letter-spacing: 0.5px;
  margin-top: 10px;
}
.university-news .section-heading p {
  padding-bottom: 20px;
}
.university-news .news-item {
  margin-top: 30px;
  display: block;
}
@media (max-width: 991px) {
  .university-news .news-item {
    text-align: center;
  }
}
.university-news .news-item .thumb-holder {
  margin-right: 25px;
  float: left;
  position: relative;
}
@media (max-width: 991px) {
  .university-news .news-item .thumb-holder {
    float: none;
    margin-right: 0px;
  }
}
.university-news .news-item .thumb-holder img {
  width: 270px;
  overflow: hidden;
}
@media (max-width: 991px) {
  .university-news .news-item .thumb-holder img {
    width: 100%!important;
  }
}
.university-news .news-item .thumb-holder .hover-content {
  text-align: center;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 270px;
  bottom: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
}
@media (max-width: 991px) {
  .university-news .news-item .thumb-holder .hover-content {
    width: 100%;
  }
}
.university-news .news-item .thumb-holder .hover-content i {
  margin-top: 100px;
  color: #ffffff;
}
@media (max-width: 991px) {
  .university-news .news-item .thumb-holder .hover-content i {
    margin-top: 40%;
  }
}
.university-news .news-item .right-content {
  border-top: 2px solid #eeeeee;
  border-right: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  padding: 0px 20px;
  height: 220px;
}
@media (max-width: 991px) {
  .university-news .news-item .right-content {
    border-left: 2px solid #eeeeee;
    border-top: none;
    height: auto;
  }
}
.university-news .news-item .right-content ul {
  padding-top: 20px;
  list-style: none;
}
@media (max-width: 991px) {
  .university-news .news-item .right-content ul {
    margin-left: 0px;
    padding-left: 0px;
  }
}
.university-news .news-item .right-content ul li {
  display: inline;
  padding: 0px 12px;
  border-right: 1px dashed #d5d5d5;
  border-left: 1px dashed #d5d5d5;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #a8a8a8;
}
.university-news .news-item .right-content ul li:first-child {
  border-left: none;
  padding-left: 0px;
}
.university-news .news-item .right-content ul li:last-child {
  border-right: none;
}
.university-news .news-item .right-content h4 {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.university-news .news-item .right-content h4:hover {
  color: #f5a425;
  transition: all 0.5s;
}
.university-news .news-item .right-content .line-dec {
  width: 44px;
  height: 1px;
  background-color: #eeeeee;
  margin-left: 275px;
  margin-top: 25px;
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .university-news .news-item .right-content .line-dec {
    margin-left: auto;
    margin-right: auto;
  }
}
.university-news .news-item .right-content p {
  margin-top: 15px;
  padding-bottom: 10px;
}
@media (max-width: 991px) {
  .university-news .news-item .right-content p {
    padding-bottom: 20px;
  }
}
.university-news .news-item:hover .hover-content {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s;
  cursor: pointer;
}

.testimonials-news .section-heading h1 {
  margin-bottom: 0px;
}
.testimonials-news .section-heading img {
  padding-bottom: 50px;
}
.testimonials-news #owl-testimonials .item {
  margin-right: 10px;
}
.testimonials-news #owl-testimonials .item i {
  color: #f5a425;
  float: right;
  font-size: 18px;
  margin: 15px;
}
.testimonials-news #owl-testimonials .item p {
  font-family: 'Gerogia', sans-serif;
  font-style: italic;
}
.testimonials-news #owl-testimonials .item img {
  border-radius: 50%;
  width: 66px;
  height: 66px;
  margin-top: 15px;
  float: left;
  margin-right: 15px;
}
.testimonials-news #owl-testimonials .item h4 {
  margin-bottom: 5px;
  margin-top: 40px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.testimonials-news #owl-testimonials .item span {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #a8a8a8;
}
.testimonials-news #owl-testimonials .owl-buttons {
  margin-right: 10px;
  margin-top: -50px;
  position: relative;
  float: right;
  display: inline;
}
.testimonials-news #owl-testimonials .owl-buttons .owl-next {
  float: right;
  margin-top: -33px;
}
.testimonials-news #owl-testimonials .owl-buttons .owl-next:after {
  content: '\f105';
  font-family: 'FontAwesome';
  display: inline-block;
  width: 33px;
  height: 33px;
  line-height: 33px;
  display: block;
  text-align: center;
  background-color: #f2f5f6;
  cursor: pointer;
}
.testimonials-news #owl-testimonials .owl-buttons .owl-next:hover:after {
  background-color: #f5a425;
  transition: all 0.5s;
}
.testimonials-news #owl-testimonials .owl-buttons .owl-prev {
  margin-right: 38px;
}
.testimonials-news #owl-testimonials .owl-buttons .owl-prev:after {
  content: '\f104';
  font-family: 'FontAwesome';
  display: inline-block;
  width: 33px;
  height: 33px;
  line-height: 33px;
  display: block;
  text-align: center;
  background-color: #f2f5f6;
  cursor: pointer;
}
.testimonials-news #owl-testimonials .owl-buttons .owl-prev:hover:after {
  background-color: #f5a425;
  transition: all 0.5s;
}
section.testimonials-page {
  background-color: #f2f5f6;
  padding: 70px 0px 20px 0px;
}
section.testimonials-page .section-heading h1 {
  margin-bottom: 0px;
}
section.testimonials-page .section-heading img {
  padding-bottom: 50px;
}
section.testimonials-page #owl-testimonials .item {
  text-align: center;
}
section.testimonials-page #owl-testimonials .item i {
  color: #f5a425;
  float: right;
  font-size: 18px;
  margin: 15px;
}
section.testimonials-page #owl-testimonials .item p {
  line-height: 28px;
  background-color: #f2f5f6;
  font-size: 16px;
  margin-top: 30px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}
section.testimonials-page #owl-testimonials .item img {
  max-width: 100%;
  overflow: hidden;
}
section.testimonials-page #owl-testimonials .item h4 {
  margin-bottom: 5px;
  margin-top: 20px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
section.testimonials-page #owl-testimonials .item span {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #a8a8a8;
}
section.testimonials-page #owl-testimonials .owl-buttons {
  top: -180px;
  position: relative;
  display: inline-block;
  z-index: 9999;
}
section.testimonials-page #owl-testimonials .owl-buttons .owl-next {
  margin-left: 450px;
  float: right;
  margin-top: -33px;
}
section.testimonials-page #owl-testimonials .owl-buttons .owl-next:after {
  color: #a8a8a8;
  font-size: 12px;
  content: '\f061';
  font-family: 'FontAwesome';
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 36px;
  display: block;
  text-align: center;
  border: 2px solid #eeeeee;
  border-radius: 50%;
  cursor: pointer;
}
section.testimonials-page #owl-testimonials .owl-buttons .owl-next:hover:after {
  background-color: #f5a425;
  color: #222222;
  border-color: transparent;
  transition: all 0.5s;
}
section.testimonials-page #owl-testimonials .owl-buttons .owl-prev:after {
  color: #a8a8a8;
  font-size: 12px;
  content: '\f060';
  font-family: 'FontAwesome';
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 36px;
  display: block;
  text-align: center;
  background-color: #f2f5f6;
  cursor: pointer;
  border: 2px solid #eeeeee;
  border-radius: 50%;
}
section.testimonials-page #owl-testimonials .owl-buttons .owl-prev:hover:after {
  background-color: #f5a425;
  color: #222222;
  border-color: transparent;
  transition: all 0.5s;
}



.testimonials-news #owl-testimonials2 .item {
  margin-right: 10px;
}
.testimonials-news #owl-testimonials2 .item i {
  color: #f5a425;
  float: right;
  font-size: 18px;
  margin: 15px;
}
.testimonials-news #owl-testimonials2 .item p {
  font-family: 'Gerogia', sans-serif;
  font-style: italic;
}
.testimonials-news #owl-testimonials2 .item img {
  border-radius: 50%;
  width: 66px;
  height: 66px;
  margin-top: 15px;
  float: left;
  margin-right: 15px;
}
.testimonials-news #owl-testimonials2 .item h4 {
  margin-bottom: 5px;
  margin-top: 40px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.testimonials-news #owl-testimonials2 .item span {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #a8a8a8;
}
.testimonials-news #owl-testimonials2 .owl-buttons {
  margin-right: 10px;
  margin-top: -50px;
  position: relative;
  float: right;
  display: inline;
}
.testimonials-news #owl-testimonials2 .owl-buttons .owl-next {
  float: right;
  margin-top: -33px;
}
.testimonials-news #owl-testimonials2 .owl-buttons .owl-next:after {
  content: '\f105';
  font-family: 'FontAwesome';
  display: inline-block;
  width: 33px;
  height: 33px;
  line-height: 33px;
  display: block;
  text-align: center;
  background-color: #f2f5f6;
  cursor: pointer;
}
.testimonials-news #owl-testimonials2 .owl-buttons .owl-next:hover:after {
  background-color: #f5a425;
  transition: all 0.5s;
}
.testimonials-news #owl-testimonials2 .owl-buttons .owl-prev {
  margin-right: 38px;
}
.testimonials-news #owl-testimonials2 .owl-buttons .owl-prev:after {
  content: '\f104';
  font-family: 'FontAwesome';
  display: inline-block;
  width: 33px;
  height: 33px;
  line-height: 33px;
  display: block;
  text-align: center;
  background-color: #f2f5f6;
  cursor: pointer;
}
.testimonials-news #owl-testimonials2 .owl-buttons .owl-prev:hover:after {
  background-color: #f5a425;
  transition: all 0.5s;
}
section.testimonials-page {
  background-color: #f2f5f6;
  padding: 70px 0px 20px 0px;
}
section.testimonials-page .section-heading h1 {
  margin-bottom: 0px;
}
section.testimonials-page .section-heading img {
  padding-bottom: 50px;
}
section.testimonials-page #owl-testimonials2 .item {
  text-align: center;
}
section.testimonials-page #owl-testimonials2 .item i {
  color: #f5a425;
  float: right;
  font-size: 18px;
  margin: 15px;
}
section.testimonials-page #owl-testimonials2 .item p {
  line-height: 28px;
  background-color: #f2f5f6;
  font-size: 16px;
  margin-top: 30px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}
section.testimonials-page #owl-testimonials2 .item img {
  max-width: 100%;
  overflow: hidden;
}
section.testimonials-page #owl-testimonials2 .item h4 {
  margin-bottom: 5px;
  margin-top: 20px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
section.testimonials-page #owl-testimonials2 .item span {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #a8a8a8;
}
section.testimonials-page #owl-testimonials2 .owl-buttons {
  top: -180px;
  position: relative;
  display: inline-block;
  z-index: 9999;
}
section.testimonials-page #owl-testimonials2 .owl-buttons .owl-next {
  margin-left: 450px;
  float: right;
  margin-top: -33px;
}
section.testimonials-page #owl-testimonials2 .owl-buttons .owl-next:after {
  color: #a8a8a8;
  font-size: 12px;
  content: '\f061';
  font-family: 'FontAwesome';
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 36px;
  display: block;
  text-align: center;
  border: 2px solid #eeeeee;
  border-radius: 50%;
  cursor: pointer;
}
section.testimonials-page #owl-testimonials2 .owl-buttons .owl-next:hover:after {
  background-color: #f5a425;
  color: #222222;
  border-color: transparent;
  transition: all 0.5s;
}
section.testimonials-page #owl-testimonials2 .owl-buttons .owl-prev:after {
  color: #a8a8a8;
  font-size: 12px;
  content: '\f060';
  font-family: 'FontAwesome';
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 36px;
  display: block;
  text-align: center;
  background-color: #f2f5f6;
  cursor: pointer;
  border: 2px solid #eeeeee;
  border-radius: 50%;
}
section.testimonials-page #owl-testimonials2 .owl-buttons .owl-prev:hover:after {
  background-color: #f5a425;
  color: #222222;
  border-color: transparent;
  transition: all 0.5s;
}


section.gallery-four #projects-filter {
  padding-bottom: 30px;
  text-align: center;
}
section.gallery-four #projects-filter a {
  margin: 0px 5px;
  font-size: 15px;
  color: #777777;
  padding: 2px 5px;
}
section.gallery-four #projects-filter a:hover {
  color: #f5a425;
  transition: all 0.3s;
}
section.gallery-four #projects-filter a.active {
  border-bottom: 1px solid #f5a425;
  color: #f5a425;
}
section.gallery-four .item {
  margin-top: 30px;
  text-align: center;
}
section.gallery-four .item .thumb-holder {
  position: relative;
}
section.gallery-four .item .thumb-holder img {
  width: 100%;
}
section.gallery-four .item .thumb-holder .hover-content {
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  bottom: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
}
section.gallery-four .item .thumb-holder .hover-content i {
  top: 45%;
  position: absolute;
  left: 46%;
  background-color: #f5a425;
  width: 28px;
  height: 28px;
  text-align: center;
  display: inline-block;
  line-height: 28px;
  color: #222222;
}
section.gallery-four .item .down-content {
  background-color: #f2f5f6;
  padding: 0px 20px;
}
section.gallery-four .item .down-content h4 {
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 600;
  margin-bottom: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
}
section.gallery-four .item .down-content span {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #a8a8a8;
  display: block;
  padding-bottom: 18px;
}
section.gallery-four .item .thumb-holder:hover .hover-content {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s;
}

#Container .mix {
  display: none;
}
.lightbox-target {
  margin-top: 50%;
  background-color: #ffffff;
  padding: 30px;
}
.lightbox-target h4 {
  font-size: 24px;
  margin-top: 25px;
  letter-spacing: 0.5px;
}
.lightbox-target p {
  margin-top: 10px;
}
.lightbox-target .gallery-slider img {
  width: 100%;
  z-index: 9!important;
  position: relative;
}
.lightbox-target .gallery-slider .flex-direction-nav {
  position: absolute;
  top: 46%;
  margin-top: -20px;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (max-width: 991px) {
  .lightbox-target .gallery-slider .flex-direction-nav {
    top: 7%;
  }
}
.lightbox-target .gallery-slider .flex-direction-nav li {
  display: inline-block;
}
.lightbox-target .gallery-slider .flex-direction-nav a.flex-prev:before {
  position: absolute;
  opacity: 1;
  z-index: 999999;
  left: 60px;
  font-family: "FontAwesome";
  font-size: 14px;
  display: inline-block;
  content: '\f060';
  color: #222222;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #ffffff;
}
.lightbox-target .gallery-slider .flex-direction-nav .flex-next:before {
  position: absolute;
  opacity: 1;
  right: 60px;
  font-family: "FontAwesome";
  font-size: 14px;
  display: inline-block;
  content: '\f061';
  color: #222222;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #ffffff;
}
.lightbox-target .gallery-slider .flex-control-paging {
  display: none;
}
.lightbox-target .gallery-information {
  margin-top: 30px;
  background-color: #f2f5f6;
  padding: 10px 35px;
}
.lightbox-target .gallery-information ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.lightbox-target .gallery-information ul li {
  text-align: right;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #222222;
  padding-bottom: 15px;
  border-bottom: 1px solid #e6e6e6;
  margin-top: 15px;
}
.lightbox-target .gallery-information ul li span {
  float: left;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #a8a8a8;
  display: inline-block;
}
.lightbox-target .gallery-information ul li:last-child {
  border-bottom: none;
}
.lightbox-target .left-images {
  margin-top: 30px;
}
@media (max-width: 767px) {
  .lightbox-target .left-images {
    display: none;
  }
}
.lightbox-target .left-images img {
  max-width: 100%;
  margin: 0px 10px;
}
#light-box {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 99999999;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translate(0px, -100%) scale(0, 0);
  -moz-transform: translate(0px, -100%) scale(0, 0);
  -o-transform: translate(0px, -100%) scale(0, 0);
  -ms-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);
  opacity: 0;
}
#light-box.open {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  -moz-transform: translate(0px, 0px) scale(1, 1);
  -o-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1);
  opacity: 1;
}
#light-box .close {
  outline: none;
  position: fixed;
  top: 15px;
  right: 15px;
  color: #ffffff;
  background-color: #f5a425;
  border-color: transparent;
  opacity: 1;
  padding: 10px 17px;
  font-size: 27px;
}

.events-grid .event-item {
  margin-top: 30px;
}
.events-grid .event-item .thumb-holder {
  position: relative;
}
.events-grid .event-item .thumb-holder img {
  width: 100%;
}
.events-grid .event-item .thumb-holder .hover-content {
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  bottom: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
}
.events-grid .event-item .thumb-holder .hover-content ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 15px;
}
.events-grid .event-item .thumb-holder .hover-content ul li {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
}
.events-grid .event-item .thumb-holder .hover-content ul li a {
  color: #ffffff;
}
.events-grid .event-item .thumb-holder .hover-content ul li i {
  color: #f5a425;
  margin-right: -1px;
}
.events-grid .event-item .thumb-holder .hover-content ul li:last-child {
  float: right;
  margin-right: 30px;
}
.events-grid .event-item .thumb-holder .hover-content ul li:last-child i {
  margin-right: 5px;
}
.events-grid .event-item .down-content {
  border-left: 2px solid #eeeeee;
  border-right: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}
.events-grid .event-item .down-content ul {
  padding: 0 20px;
  margin: 0;
  list-style: none;
  border-bottom: 2px solid #eeeeee;
}
.events-grid .event-item .down-content ul li {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #777777;
  border-right: 2px solid #eeeeee;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (max-width: 991px) {
  .events-grid .event-item .down-content ul li {
    border-right: none;
  }
}
.events-grid .event-item .down-content ul li i {
  color: #f5a425;
  font-size: 16px;
  margin-right: 10px;
  float: left;
}
.events-grid .event-item .down-content ul li:last-child {
  padding-right: 0px;
  margin-left: 20px;
  border-right: none;
}
.events-grid .event-item .down-content h4 {
  line-height: 20px;
  font-size: 17px;
  letter-spacing: 0.5px;
  font-weight: 600;
  margin-bottom: 5px;
  padding-top: 22px;
  margin-top: 0px;
}
.events-grid .event-item .down-content .date {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 15px;
  float: left;
  width: 46px;
  height: 46px;
  background-color: #a12c2f;
  text-align: center;
  display: inline-block;
  line-height: 46px;
  border-radius: 50%;
}
.events-grid .event-item .down-content .date p {
  font-family: 'Montserrat', sans-serif;
  margin-left: 0px;
  margin-top: 5px;
  font-size: 14px;
  color: #ffffff;
  padding: 0px;
}
.events-grid .event-item .down-content .date span {
  margin-left: 0px;
  margin-top: -10px;
  display: block;
  font-size: 11px;
  text-transform: capitalize;
}
.events-grid .event-item .down-content p {
  margin-top: 5px;
  padding-bottom: 0px;
  padding-right: 20px;
  padding-left: 20px;
}
.events-grid .event-item:hover .hover-content {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s;
  cursor: pointer;
}
.events-calendar .pre-featured .grid-list ul li a {
  color: #ffffff;
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  font-size: 10px;
  display: inline-block;
  border: 1px solid #b74043;
  background-color: transparent;
}
.events-calendar .up-days {
  text-align: center;
}
.events-calendar .up-days ul {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  background-color: #f2f5f6;
}
.events-calendar .up-days ul li {
  width: 13.95%;
  margin-right: 0px;
  text-align: center;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  background-color: #f2f5f6;
  padding-top: 15px;
  padding-bottom: 15px;
}
.events-calendar .up-days ul li:last-child {
  margin-right: 0px;
  border-right: none;
}
.events-calendar .calendar-posts ul {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
}
.events-calendar .calendar-posts ul li {
  position: relative;
  margin-bottom: -6px;
  margin-right: -5px;
  width: 14.35%!important;
  height: 114px;
  border: 1px solid #eeeeee;
  display: inline-block;
}
.events-calendar .calendar-posts ul li span {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0px 15px 10px 0px;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #222222;
}
.events-calendar .calendar-posts ul .calendar-1 {
  background-image: url(http://placehold.it/168x115);
  cursor: pointer;
}
.events-calendar .calendar-posts ul .calendar-1 span {
  color: #ffffff;
}
.events-calendar .calendar-posts ul .calendar-1:hover span {
  color: #f5a425;
  transition: all 0.3s;
}
.events-calendar .calendar-posts ul .calendar-2 {
  background-image: url(http://placehold.it/168x115);
}
.events-calendar .calendar-posts ul .calendar-2 span {
  color: #ffffff;
}
.events-calendar .calendar-posts ul .calendar-2:hover span {
  color: #f5a425;
  transition: all 0.3s;
}
.events-calendar .calendar-posts ul .calendar-3 {
  background-image: url(http://placehold.it/168x115);
}
.events-calendar .calendar-posts ul .calendar-3 span {
  color: #ffffff;
}
.events-calendar .calendar-posts ul .calendar-3:hover span {
  color: #f5a425;
  transition: all 0.3s;
}
.events-calendar .calendar-posts ul .calendar-4 {
  background-image: url(http://placehold.it/168x115);
}
.events-calendar .calendar-posts ul .calendar-4 span {
  color: #ffffff;
}
.events-calendar .calendar-posts ul .calendar-4:hover span {
  color: #f5a425;
  transition: all 0.3s;
}
.events-calendar .calendar-posts ul .calendar-5 {
  background-image: url(http://placehold.it/168x115);
}
.events-calendar .calendar-posts ul .calendar-5 span {
  color: #ffffff;
}
.events-calendar .calendar-posts ul .calendar-5:hover span {
  color: #f5a425;
  transition: all 0.3s;
}
.events-calendar .calendar-posts ul .calendar-6 {
  background-image: url(http://placehold.it/168x115);
}
.events-calendar .calendar-posts ul .calendar-6 span {
  color: #ffffff;
}
.events-calendar .calendar-posts ul .calendar-6:hover span {
  color: #f5a425;
  transition: all 0.3s;
}
.events-calendar .calendar-posts ul .calendar-7 {
  background-image: url(http://placehold.it/168x115);
}
.events-calendar .calendar-posts ul .calendar-7 span {
  color: #ffffff;
}
.events-calendar .calendar-posts ul .calendar-7:hover span {
  color: #f5a425;
  transition: all 0.3s;
}
.events-calendar .calendar-posts ul .next-month span {
  color: #a8a8a8;
}
.single-event .event-slider {
  padding-bottom: 37px;
  text-align: center;
}
.single-event .event-slider ul li {
  position: relative;
}
.single-event .event-slider ul li img {
  width: 100%;
}
.single-event .event-slider .flex-control-nav {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  display: inline-block;
  margin-top: -37px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: -45px;
}
.single-event .event-slider .flex-control-nav li {
  margin-right: 5px;
  margin-left: 5px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.single-event .event-slider .flex-control-paging li a {
  width: 11px;
  height: 11px;
  border-radius: 50%!important;
  display: block;
  border: 2px solid #ffffff;
  background-color: transparent;
  cursor: pointer;
  text-indent: -9999px;
}
.single-event .event-slider .flex-control-paging li a:hover {
  border-color: #f5a425;
  transition: all 0.3s;
}
.single-event .event-slider .flex-control-paging li a.flex-active {
  border-color: #f5a425;
  cursor: pointer;
}
.single-event .event-item .up-content {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 20px;
  width: 100%;
  display: inline-block;
  margin-top: 10px;
}
.single-event .event-item .up-content img {
  float: left;
  width: 44px;
  border: 2px solid #f5a425;
  border-radius: 50%;
  margin-right: 15px;
}
.single-event .event-item .up-content h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #a8a8a8;
  font-weight: 300;
  letter-spacing: 0.2px;
  padding-top: 5px;
  float: left;
}
.single-event .event-item .up-content ul {
  padding: 0;
  margin: 0;
  list-style: none;
  float: right;
}
.single-event .event-item .up-content ul li {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #777777;
  margin-left: 20px;
}
.single-event .event-item .up-content ul li i {
  color: #f5a425;
  margin-right: 5px;
}
.single-event .event-item .down-content {
  display: block;
}
.single-event .event-item .down-content h4 {
  font-size: 24px;
  letter-spacing: 0.5px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.single-event .event-item .down-content p {
  margin-bottom: 45px;
}
.single-event .event-item .accordions h4 {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 40px;
  margin-top: 40px;
}
.single-event .event-item .accordions .accordion,
.single-event .event-item .accordions .accordion * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.single-event .event-item .accordions .accordion {
  overflow: hidden;
}
.single-event .event-item .accordions .accordion-section {
  margin-bottom: 1px;
}
.single-event .event-item .accordions .accordion-section-title {
  width: 100%;
  display: inline-block;
  transition: all linear 0.15s;
}
.single-event .event-item .accordions .accordion-section-title h6 {
  display: inline-block;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 400;
}
.single-event .event-item .accordions .accordion-section-title span {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #777777;
  letter-spacing: 0.5px;
}
.single-event .event-item .accordions .accordion-section-title .first-icon i {
  margin: 0px 30px;
  font-size: 20px;
  color: #eeeeee;
}
.single-event .event-item .accordions .accordion-section-title .second-icon i {
  margin-top: -3px;
  margin-left: 15px;
  margin-right: 0px;
  float: right;
  font-size: 18px;
}
.single-event .event-item .accordions .accordion-section-title.active {
  color: #222222;
}
.single-event .event-item .accordions .accordion-section-title.active .second-icon i {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  color: #f5a425;
  transition: all 0.5s;
}
.single-event .event-item .accordions .accordion-section-title.active .first-icon i {
  color: #f5a425;
  transition: all 1s;
}
.single-event .event-item .accordions .accordion-section-content {
  margin-top: -11px;
  margin-left: 101px;
  padding-left: 38px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: -10px;
  border-left: 3px solid #eeeeee;
  display: none;
}
.single-event .event-item .accordions .accordion-section-content p {
  margin-bottom: 10px;
}

.pagination-navigation {
  margin-top: 60px;
}
.pagination-navigation .pagination {
  margin-top: 0px;
}
.pagination-navigation .pagination ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.pagination-navigation .pagination ul li {
  display: inline-block;
}
.pagination-navigation .pagination ul li a {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  width: 40px;
  height: 40px;
  text-align: center;
  display: inline-block;
  line-height: 40px;
  color: #777777;
  background-color: #f2f5f6;
}
.pagination-navigation .pagination ul li a:hover {
  color: #222222;
  background-color: #f5a425;
  transition: all 0.5s;
}
.pagination-navigation .pagination ul .active a {
  color: #222222;
  background-color: #f5a425;
}
.pagination-navigation .navigation {
  float: right;
}
.pagination-navigation .navigation ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.pagination-navigation .navigation ul li {
  display: inline-block;
}
.pagination-navigation .navigation ul li i {
  font-size: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  display: inline-block;
  line-height: 40px;
  color: #777777;
  background-color: #f2f5f6;
}
.pagination-navigation .navigation ul li i:hover {
  color: #222222;
  background-color: #f5a425;
  transition: all 0.5s;
  cursor: pointer;
}